# # Server Configuration
# PORT=5000
# NODE_ENV=development

# # MongoDB Configuration
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/jobportal?retryWrites=true&w=majority

# # JWT Secret Key
# JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# # JWT Expiration
# JWT_EXPIRE=7d

# # Frontend URL (for CORS)
# FRONTEND_URL=http://localhost:3000



# # Server Configuration
# PORT=5000
# NODE_ENV=development

# # MongoDB Configuration
# # IMPORTANT: Add your password between : and @
# MONGODB_URI=mongodb+srv://Jobdhundo:Jobdhundo%401234@jobdundho.ozqwu6u.mongodb.net/jobportal?retryWrites=true&w=majority

# # JWT Secret Key (Change this to a strong random string in production)
# JWT_SECRET=your_super_secret_jwt_key_change_this_in_production_12345

# # JWT Expiration
# JWT_EXPIRE=7d

# # Frontend URL (for CORS)
# FRONTEND_URL=http://localhost:3000


# --------------------------------------------------production code 
# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://Jobdhundo:Jobdhundo%401234@jobdundho.ozqwu6u.mongodb.net/jobportal?retryWrites=true&w=majority

# JWT Secret Key
JWT_SECRET=jobhuntting_super_secret_key_123

# JWT Expiration
JWT_EXPIRE=7d

# Frontend URL (for CORS)
 FRONTEND_URL=https://jobhunt-frontend-qg6c.onrender.com
    
# Email Configuration (Gmail SMTP)
# IMPORTANT: Replace these with your actual Gmail credentials
# For EMAIL_USER: Use your Gmail address (e.g., youremail@gmail.com)
# For EMAIL_PASS: Use Gmail App Password (not your regular password)
# Get App Password: https://myaccount.google.com/apppasswords
EMAIL_USER=tusharahire18182001@gmail.com
EMAIL_PASS=nzadzvjmjowjqfkp

